<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tweet-Scrapper</a>
        </div>
    </div>
</nav>


<div style="margin-left: 150px;" class="form-group">

    <div class="row">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <span><i class="fab fa-twitter" style="color:blue;"></i></span>
            <div class="col-xs-12">
                <label for="search">Enter a word: </label>
                <input type="text" class="form-control" id="search" name="searchparams" required [(ngModel)]="searchParams">
                <button type="submit" name="search" class="btn btn-primary" [disabled]="!f.valid"> Search</button>
            </div>
        </form>
    </div>
    <hr />

    <div *ngIf="loading">
        <div class="spinner-grow text-primary" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="isData" class="searchText">
        <h4>Latest search for "{{ params }}"</h4>
    </div>

    <div class="card-error" *ngIf="isError"> {{ errorMessage }}</div>

    <div class="card" *ngFor="let tweet of tweets;">
        <div class="card-body">
            <div class="card-title">
                <span><i class="fab fa-twitter"></i></span> {{ transform(tweet.includes.users[0].name) }}
            </div>
            <div class="card-subtitle text-muted"> @{{ tweet.includes.users[0].username }}</div>
            <p class="card-text">{{ tweet.data.text }}</p>
            <div *ngIf="tweet.includes.media && tweet.includes.media[0].type == 'photo'">
                <img class="card-img-top" [src]="tweet.includes?.media[0].url" alt="Card image cap">
            </div>
            <div *ngIf="tweet.includes.media && tweet.includes.media[0].type == 'video'" class="container">
                <img class="card-img-top" [src]="tweet.includes?.media[0].preview_image_url" alt="Card image cap">
                <div class="overlay">
                    <i class="fa fa-video-camera"></i>
                </div>

            </div>

        </div>
    </div>

</div>